
    h2{
       color:blue;
      }
    #pr{
       text-align:center;
     }
    #pre{
       color:purple;
     }
    body{
      background-color:#f7f7e1;
      line-height:o;
     }
     #ct{
       text-align:center;
      }
     .cl{
          background-color:gray;
     }
   